 
.navbar-default {
    background-color: #82dcfa;
    border-color: #E7E7E7;
}

.shark {
  margin: 5%;
}

.offer {
  margin-bottom: 5%;
}

.info {
  font-size: 15px;
  padding: 3%;
}

#debug {
  border: 1px solid black;
}

.price-title {
  text-align: center;
  text-decoration: underline;
}

.price {
  border: 1px solid black;
  
  border-radius: 2px;
  margin: 0 auto;
  margin: 5%;
}

.join-modal {
  margin: 5%;
  text-align: right;
}

footer {
  text-align: center;
}
 img {
  size: 50%;
 }
